root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true

[Makefile]
indent_style = tab

[*.py]
indent_size = 4

[*.sql]
indent_size = 2

[Dockerfile]
indent_size = 4

[*.config,*.nf]
indent_size = 2

[*.ctl]
indent_size = 2
