manifest {
  mainScript = 'main.nf'
  description = 'Import all RNAcentral data'
}

report {
  overwrite = true
}

includeConfig "config/main.config"
includeConfig "config/export.config"
includeConfig "config/crs.config"

process {
  container = 'oras://ghcr.io/rnacentral/rnacentral-import-pipeline:latest'
}

// local.config must should contain something like the following. I use profiles
// to help control the database I am working with:
// env {
//   PGDATABASE = "postgres://user:password@host:port/name"
// }
includeConfig "local.config"

params.should_release = false
params.needs_publications = false
params.needs_taxonomy = false
params.databases.ensembl._any.run = false

