manifest {
  mainScript = 'main.nf'
  description = 'Import all RNAcentral data'
}

includeConfig "config/main.config"
includeConfig "config/ftp-export.config"
includeConfig "config/search-export.config"
includeConfig "config/sequence-search-export.config"
includeConfig "config/crs.config"

process {
  container = 'rnacentral/rnacentral-import-pipeline:latest'
}

// local.config must should contain something like the following. I use profiles
// to help control the database I am working with:
// env {
//   PGDATABASE = "postgres://user:password@host:port/name"
// }
includeConfig "local.config"

params {
  should_release = params.databases.find { 
    it.value.get('run', false) && it.value.get('release', true) 
  }.asBoolean()

  will_import_data = params.databases.find { it.value.get('run', false) }
}
