def slurper = new groovy.json.JsonSlurper()

params {
  connection_file = "$baseDir/config/databases.json"
  connections = slurper.parse(new File(connection_file))

  databases {
    ena {

      process {
        force_decompress = true
        directives.memory = 8.GB
      }

      inputs {
        data_file {
          command = 'fetch ena'
          remote = '/nfs/ftp/pub/databases/ena/non-coding/release/'
          produces = '*.grouped.ncr.gz'
        }

        tpa_file {
          url_file = "$baseDir/files/import-data/ena/tpa-urls.txt"
          produces = 'tpa.tsv'
        }
      }
    }

    ensembl {
      process.directives.memory = 4.GB

      inputs {
        data_file {
          command = 'fetch ensembl'
          remote = 'ftp://ftp.ensembl.org/pub/current_embl/**/*.dat.gz'
          produces = '*.grouped.dat.gz'
          exclude = [
            /Mus_musculus_.*/,
            /Caenorhabditis_elegans.*/,
            /Drosophila_melanogaster.*/,
            /Saccharomyces_cerevisiae.*/,
          ]
        }

        family_file = (connections.rfam + [
          query:  "$baseDir/files/import-data/rfam/families.sql",
          produces:  'families.tsv',
        ])

        gencode_gff {
          command = 'fetch gencode'
          url_file = "$baseDir/files/import-data/ensembl/urls.txt"
          produces = 'gencode.gff3'
        }
      }
    }

    ensembl_plants {
      process.directives.memory = 6.GB

      inputs {
        data {
          command = 'fetch ensembl_plants'
          remote = 'ftp://ftp.ensemblgenomes.org/pub/current/plants/embl/**/*.dat.gz'
          produces = '*.grouped.dat.gz'
          exclude = [
            /Cyanidioschyzon_merolae.*/
          ]
        }
      }
    }

    flybase {
      inputs {
        data {
          remote = 'ftp://ftp.flybase.net/releases/current/precomputed_files/genes/ncRNA*.json.gz'
          produces = 'flybase_ncRNA.json.gz'
        }
      }
    }

    lncbase {
      inputs {
        data.remote = '/nfs/production/xfam/users/bsweeney/provided-data/lncbase/LncBase2.json'
      }
    }

    lncipedia {
      inputs {
        data.remote = "https://lncipedia.org/downloads/lncipedia_5_3/lncipedia_5_3_rnacentral.json"
      }
    }

    mirbase {
      process.directives.memory = 4.GB

      inputs {
        data.remote = "http://micro.smith.man.ac.uk/~sam/download/mirbase22rnacentral.20180523.json"
      }
    }

    pdb {
      inputs {
        data_file {
          command = 'rnac pdb data'
          produces = 'pdb.json'
        }
        extra {
          command = 'rnac pdb extra'
          produces = 'pdb-extra.json'
        }
      }
    }

    pombase {
      inputs {
        data.remote = 'ftp://ftp.pombase.org/nightly_update/misc/rnacentral.json'
      }
    }

    quickgo {
      process {
        command = 'rnc ontologies quickgo'
        directives.memory = 4.GB
      }

      inputs {
        data {
          command = 'fetch quickgo'
          remote = '/ebi/ftp/pub/contrib/goa/goa_rna_all.gpa.gz'
          produces = 'data.gpa'
        }
      }
    }

    refseq {
      inputs.data { produces = '*.gbff.gz' }
    }

    rfam {
      inputs {
        data.command = 'fetch rfam'
        data.remote = '/hps/nobackup/production/xfam/rfam/RELEASES/14.0/rnacentral/json_files/rfam2rnac*.json'

        family_file = (connections.rfam + [query: "$baseDir/files/import-data/rfam/families.sql", produces: 'families.tsv'])
      }
    }

    rgd {
      inputs {
        data.remote = 'ftp://ftp.rgd.mcw.edu/pub/data_release/UserReqFiles/RAT_NUCLEOTIDE_SEQUENCES.fa.gz'
        genes.remote = 'ftp://ftp.rgd.mcw.edu/pub/data_release/GENES_RAT.txt'
      }
    }

    tarbase {
      inputs {
        fetch.remote = '/nfs/production/xfam/users/bsweeney/provided-data/tarbase/TarBase8.json'
      }
    }

    zwd {
      inputs {
        fetch {
          remote = 'https://raw.githubusercontent.com/Rfam/rfam-zwd-import/master/zwd.json'
          produces = 'zwd.json'
        }
      }
    }
  }

  go_annotations {
    tair {
      remote = 'https://www.arabidopsis.org/download_files/GO_and_PO_Annotations/Gene_Ontology_Annotations/ATH_GO_GOSLIM.txt.gz'
    }
  }

  crs {
    path = '/nfs/production/xfam/rnacentral/crs/results/v20180914_1/rnacentral_crs_overlap_nostrand.*.tsv.gz'
  }

  import_data {
    chunk_size = 1024 * 1000 * 1000
    databases = [:]
  }

  metadata {
    ensembl_assemblies {
      linked_databases = ['ensembl']
      process.command = 'rnac ensembl assemblies'
      inputs {
        connections = connection_file
        query = "$baseDir/files/import-data/ensembl/assemblies.sql"
      }
    }

    ensembl_coordinates_systems {
      linked_databases = ['ensembl']
      process.command = 'rnac ensembl coordinate-systems'
      inputs {
        connections = connection_file
        query = "$baseDir/files/import-data/ensembl/coordinate-systems.sql"
      }
    }

    ensembl_proteins {
      linked_databases = ['ensembl', 'tarbase', 'lncbase']
      process.command = 'rnac ensembl proteins'
      inputs {
        connections = connection_file
        query = "$baseDir/files/import-data/ensembl/proteins.sql"
      }
    }

    ensembl_karyotypes {
      linked_databases = ['ensembl']
      process.command = 'rnac ensembl karyotypes'
    }

    europepmc {
      always_run = false
      process {
        command = 'rnac europepmc index-xml'
        produces = 'references.db'
      }

      inputs {
        data {
          command = 'fetch europepmc'
          remote = 'http://europepmc.org/ftp/pmclitemetadata/PMCLiteMetadata.tgz'
          produces = "out"
        }
      }
    }

    dfam {
      inputs.dumps = 'http://www.dfam.org/web_download/Current_Release/database/dfam_live/'
    }

    taxonomy {
      always_run = false
      process.command = 'rnac ncbi taxonomy'

      inputs {
        data_files {
          command = 'fetch taxonomy'
          remote = 'ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz'
          produces = 'taxdump'
        }
      }
    }

    rfam_clans {
      linked_databases = ['ensembl', 'rfam']
      process.command = 'rnac rfam clans'
      inputs.mysql = (connections.rfam + [query: "$baseDir/files/import-data/rfam/clans.sql" ])
    }

    rfam_families {
      linked_databases = ['ensembl', 'rfam']
      process.command = 'rnac rfam families'
      inputs.mysql = (connections.rfam + [query: "$baseDir/files/import-data/rfam/families.sql" ])
    }

    rfam_ontology_terms {
      linked_databases = ['ensembl', 'rfam']
      process.command = 'rnac rfam ontology-terms'
      inputs.mysql = (connections.rfam + [query: "$baseDir/files/import-data/rfam/ontology-terms.sql" ])
    }

    pfam {
      inputs.dumps = 'ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/database_files'
    }

  }

  precompute {
    max_entries = 2237839
    load_size = 1024 * 1000 * 1000
    maxForks = 1
    method = 'using_release'
    tablename = 'upis_to_precompute'

    range {
      memory = 4.GB
    }

    feedback {
      report {
        memory = 4.GB
      }

      databases = [
        'flybase',
        'gencode',
        'lncipedia',
        'pombase',
        'tair',
        'wormbase',
      ]
    }
  }

  genome_mapping {
    min_length = 20
    max_length = 100000
    chunk_size = 2000

    blat_options {
      step_size = 5
      rep_match = 2253
      min_score = 0
      min_identity = 95
    }

    sources = [
      Ensembl: 'ftp://ftp.ensembl.org/pub/current_fasta/${species}/dna/*.dna.*chromosom*.gz',
      EnsemblFungi: 'ftp://ftp.ensemblgenomes.org/pub/current/fungi/fasta/${species}/dna/*.dna.*chromosom*.gz',
      EnsemblMetazoa: 'ftp://ftp.ensemblgenomes.org/pub/current/metazoa/fasta/${species}/dna/*.dna.*chromosom*.gz',
      EnsemblPlants: 'ftp://ftp.ensemblgenomes.org/pub/current/plants/fasta/${species}/dna/*.dna.*chromosom*.gz',
      EnsemblProtists: 'ftp://ftp.ensemblgenomes.org/pub/current/protists/fasta/${species}/dna/*.dna.*chromosom*.gz',
    ]

    excluded_from_mapping = [
      'oryza_glumaepatula',
      'puccinia_graminisug99',
      'takifugu_rubripes',
    ]

    genomes = [
      'anopheles_gambiae',
      'arabidopsis_thaliana',
      'bombyx_mori',
      'caenorhabditis_elegans',
      'dictyostelium_discoideum',
      'drosophila_melanogaster',
      'homo_sapiens',
      'mus_musculus',
      'plasmodium_falciparum',
      'rattus_norvegicus',
      'saccharomyces_cerevisiae',
      'schizosaccharomyces_pombe',
    ]
  }

  search_export {
    max_forks = 6
    max_entries = 2237839
    schema = 'http://www.ebi.ac.uk/ebisearch/XML4dbDumps.xsd'
    publish = "${baseDir}/search-export"
    memory = 8.GB
  }

  ftp_export {
    publish = "${baseDir}/ftp"
    ensembl {
      chunk_size = 100000
      maxForks = 15
    }

    coordinate {
      maxForks = 30
    }
  }

  qa {
    dfam {
      run = true
      files = 'http://www.dfam.org/web_download/Current_Release'
      cpus = 4
      chunk_size = 2000
      memory = 10000
    }

    rfam {
      run = true
      files = 'ftp://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT'
      cpus = 5
      memory = 20000
      chunk_size = 2000
      queue = 'mpi-rh7'
      module = 'mpi/openmpi-x86_64'
      options = '-a openmpi'
    }

    pfam {
      run = true
      cpus = 4
      chunk_size = 2000
      memory = 10000
      files = 'ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release'
    }
  }

}

// local.config must should contain something like the following. I use profiles
// to help control the database I am working with:
// env {
//   PGDATABASE = "postgres://user:password@host:port/name"
// }
includeConfig "local.config"
