backports.ssl-match-hostname==3.4.0.2
cached-property==1.2.0
certifi==2015.09.06.2
docutils==0.12
lockfile==0.10.2
luigi==1.3.0
pyparsing==2.0.3
python-daemon==2.0.6
requests==2.8.0
tornado==4.2.1
wsgiref==0.1.2
