params {

  databases {
    pdb.run = true
  }

  genome_mapping {
    run = false
    select_mapped.directives.memory = 8.GB
  }

  qa {
    rfam.run = false
    rfam.memory = 8.GB
    dfam.run = false
    pfam.run = false
  }

  precompute {
    run = false
    maxForks = 4
    range.memory = '5GB'
  }

  r2dt.run = false
  feedback.run = false

  search_export {
    max_entries = 100000
    max_forks = 1
    memory = '15 GB'
    publish {
      host = ''
      path = "/nfs/production/xfam/rnacentral/search_dumps/dev-nightly/"
    }
  }

  sequence_search {
    run = false
  }
}

singularity {
  enabled = true
  cacheDir = "$baseDir/singularity"
  runOptions = '--bind /nfs/ftp/pub/databases/ena --bind /ebi/ftp --bind /nfs/ftp --bind /nfs/ensemblftp --bind /nfs/ensemblgenomes/ftp'
}

notification {
  enabled = true
  to = 'bsweeney@ebi.ac.uk'
}

includeConfig '../../private.config'
includeConfig '../config/cluster.config'

 process {
  time = '5h'
  errorStrategy = { task.exitStatus == 130 ? 'retry' : 'terminate' }
  maxRetries = 2
 }
