params {
  databases {
    pdb.run = true
  }

  genome_mapping {
    run = false
    select_mapped.directives.memory = 8.GB
  }

  qa {
    rfam.run = false
    rfam.memory = 8.GB
    dfam.run = false
    pfam.run = false
  }

  rfam
  {
    memory = 2.GB
  }

  precompute {
    run = true
    maxForks = 4
    range.memory = '8GB'
  }

  r2dt.run = false
  feedback.run = false

  search_export {
    max_entries = 100000
    max_forks = 1
    memory = '15 GB'
    publish {
      host = ''
      path = "/nfs/production/agb/rnacentral/search-export/dev-nightly/"
    }
  }

  sequence_search {
    run = false
  }

  use_datamover = true
}

singularity {
  enabled = true
  cacheDir = "$baseDir/singularity"
}

notification {
  enabled = true
  to = 'agreen@ebi.ac.uk'
}

includeConfig '../profiles.config'
includeConfig 'config/cluster.config'
includeConfig 'db_selection.config'

 process {
  errorStrategy = { task.exitStatus == 130 ? 'retry' : 'terminate' }
  maxRetries = 2
 }
