params {
  common_container = "--contain --workdir $baseDir/work/tmp --bind $baseDir --bind $baseDir:/rna/rnacentral-import-pipeline"
}

process {
  executor = 'slurm'
  maxForks = 2000
  time = '1d'
  memory = '1 GB'
  containerOptions = params.common_container
}

executor {
  $slurm {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
  $lsf {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
}

// vim: ft=groovy
