singularity {
  enabled = true
  cacheDir = "$baseDir/singularity"
}

params {
  common_container = "--contain --workdir $baseDir/work/tmp --bind $baseDir --bind $baseDir:/rna/rnacentral-import-pipeline"
}

process {
  executor = 'slurm'
  maxForks = 3500
  time = '1d'
  memory = '1 GB'
  container = 'oras://ghcr.io/rnacentral/rnacentral-import-pipeline:latest'
  containerOptions = params.common_container
}

executor {
  $slurm {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
  $lsf {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
  exitReadTimeout = '1 hour'
}

// vim: ft=groovy
