params {
  crs {
    path = '/nfs/production/xfam/rnacentral/provided-data/crs/v20200723_1'

    must_clean_bed = [
      'sarHar1',
      'SpeTri2',
      'musFur1',
      'dasNov3',
      'octDeg1',
      'chiLan1',
      'otoGar3',
    ]

    assembly_rnacentral_mapping = [
      'hg38': 'GRCh38',
      'sarHar1': 'DEVIL7.0',
      'macFas5': 'Macaca_fascicularis_5.0',
      'loxAfr3': 'loxAfr3',
      'nomLeu3': 'Nleu_3.0',
      'anoCar2': 'AnoCar2.0',
      'petMar2': 'Pmarinus_7.0',
      'musFur1': 'MusPutFur1.0',
      'gasAcu1': 'BROADS1',
      'ponAbe2': 'PPYG2',
      'myoLuc2': 'Myoluc2.0',
      'canFam3': 'CanFam3.1',
      'mm10': 'GRCm38',
      'monDom5': 'monDom5',
      'melGal1': 'UMD2',
      'cavPor3': 'Cavpor3.0',
      'latCha1': 'LatCha1',
      'ailMel1': 'ailMel1',
      'oryCun2': 'OryCun2.0',
      'pteVam1': 'pteVam1',
      'chiLan1': 'ChiLan1.0',
      'speTri2': 'SpeTri2.0',
      'oviAri3': 'Oar_v3.1',
      'octDeg1': 'OctDeg1.0',
      'otoGar3': 'OtoGar3',
      'criGri1': 'CriGri_1.0',
      'dasNov3': 'Dasnov3.0',
      'equCab2': 'EquCab2',
      'tetNig2': 'TETRAODON8',
    ]
  }
}
