params {
  databases {

    biogrid {
      inputs {
        remote = 'https://downloads.thebiogrid.org/Download/BioGRID/Latest-Release/BIOGRID-ALL-LATEST.psi25.zip'
        produces = 'BIOGRID-ALL-LATEST.psi25.zip'
      }
    }

    "5srrnadb" {
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/5srnadb/5srnadb-v1.json'
    }

    crw {
      r2dt_repo = "https://github.com/RNAcentral/R2DT.git"
    }

    ena {
      remote = '/nfs/ftp/pub/databases/ena/non-coding/'
      large_chunk_size = 40000
    }

    ensembl {
      gencode {
        ftp_host = 'ftp.ebi.ac.uk'
      }

      vertebrates {
        ftp_host = 'ftp.ensembl.org'
        exclude = [
          /mus_musculus_.*/,
          /caenorhabditis_elegans.*/,
          /drosophila_melanogaster.*/,
          /saccharomyces_cerevisiae.*/,
          /cebus_capucinus/,
          /cyprinus_carpio_.*/,
        ]
      }

      rapid_release {
        ftp = 'ftp://ftp.ensembl.org/pub/rapid-release/embl'
      }

      plants {
        ftp_host = 'ftp.ensemblgenomes.org'
        exclude = [
          /cyanidioschyzon_merolae.*/
        ]
      }

      fungi {
        ftp_host = 'ftp.ensemblgenomes.org'
        exclude = [
          /saccharomyces_cerevisiae.*/,
          /schizosaccharomyces_pombe.*/,
        ]
      }

      protists {
        ftp_host = 'ftp.ensemblgenomes.org'
        exclude = []
      }

      metazoa {
        ftp_host = 'ftp.ensemblgenomes.org'
        exclude = [
          /caenorhabditis_elegans.*/,
          /drosophila_melanogaster.*/,
        ]
      }

      compara {
        remote = 'ftp://ftp.ensembl.org/pub/current_emf/ensembl-compara/homologies/*.nt.fasta.gz'
      }
    }

    flybase {
      remote = 'ftp://ftp.flybase.net/releases/current/precomputed_files/genes/ncRNA*.json.gz'
    }

    genecards {
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/genecards/v5.tsv'
      column = 'URSid'
    }

    gtrnadb {
      needs_taxonomy = true
      remote = 'http://trna.ucsc.edu/download/RNAcentral/export2019/'
    }

    hgnc {
      remote = 'ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/json/locus_groups/non-coding_RNA.json'
    }

    intact {
      remote = 'ftp://ftp.ebi.ac.uk/pub/databases/intact/current/psimitab/intact.zip'
    }

    lncbase {
      remote = '/nfs/production/xfam/users/bsweeney/provided-data/lncbase/LncBase2.json'
    }

    lncbook {
      process.directives.memory = 5.GB
    }

    lncipedia {
      process.directives.memory = 5.GB
      remote = "https://lncipedia.org/downloads/lncipedia_5_3/lncipedia_5_3_rnacentral.json"
    }

    malacards {
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/malacards/v5.tsv'
      column = 'URSid'
    }

    mirbase {
      process.directives.memory = 4.GB
      remote = "http://micro.smith.man.ac.uk/~sam/download/mirbase22rnacentral.20180523.json"
    }

    mirgenedb {
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/mirgenedb/mirgenedb-v2.json'
    }

    ncbi_gene {
      inputs {
        data_file {
          command = 'rnac ncbi fetch-genes'
          produces = 'ncbi-genes.pickle'
        }
      }
    }

    pdb {
      run = false
    }

    pirbase {
      remote = 'http://www.regulatoryrna.org/database/piRNA/forJSON.html'
    }

    pombase {
      remote = 'ftp://ftp.pombase.org/nightly_update/misc/rnacentral.json'
    }

    silva {
      needs_taxonomy = true
      remote = 'ftp://ftp.arb-silva.de/current/Exports/rnac/SILVA_*Parc.rnac.gz'
    }

    snodb { 
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/snodb/snodb-v2.json'
    }

    snorna_database {
      remote = '/nfs/leia/production/xfam/users/bsweeney/provided-data/snorna_database/snornadb-2019-11-11.json'
    }

    quickgo {
      release = false
      memory = 8.GB
      remote = '/ebi/ftp/pub/contrib/goa/goa_rna_all.gpa.gz'
    }

    refseq {
      remote = 'THIS_VALUE_MUST_BE_SET'
    }

    rfam {
     remote = '/hps/nobackup/production/xfam/rfam/RELEASES/14.1/rnacentral/json_files/rfam2rnac*.json'
    }

    rgd {
      sequences = 'ftp://ftp.rgd.mcw.edu/pub/data_release/UserReqFiles/RAT_NUCLEOTIDE_SEQUENCES.fa.gz'
      genes = 'ftp://ftp.rgd.mcw.edu/pub/data_release/GENES_RAT.txt'
    }

    sgd {
      remote = 'https://sgd-prod-upload.s3.amazonaws.com/latest/RNAcentral.json'
    }

    tarbase {
      remote = '/nfs/production/xfam/users/bsweeney/provided-data/tarbase/TarBase8.json'
    }

    zfin {
      remote = 'https://zfin.org/downloads/rnaCentral.json'
    }

    zwd {
      needs_taxonomy = true
      remote = 'https://raw.githubusercontent.com/Rfam/rfam-zwd-import/master/zwd.json'
    }
  }
}
