params {
  databases {
    ena {
      process {
        force_decompress = true
        directives.memory = 8.GB
      }

      inputs {
        data_file {
          command = 'fetch ena'
          remote = '/nfs/ftp/pub/databases/ena/non-coding/release/'
          produces = '*.ncr.gz'
        }

        tpa_file {
          url_file = "$baseDir/files/import-data/ena/tpa-urls.txt"
          produces = 'tpa.tsv'
        }
      }
    }

    ensembl {
      process.directives.memory = 40.GB

      inputs {
        data_file {
          command = 'fetch ensembl'
          remote = 'ftp://ftp.ensembl.org/pub/current_embl/**/*.dat.gz'
          produces = '*.grouped.dat.gz'
          exclude = [
            /Mus_musculus_.*/,
            /Caenorhabditis_elegans.*/,
            /Drosophila_melanogaster.*/,
            /Saccharomyces_cerevisiae.*/,
          ]
        }

        family_file = (params.connections.rfam + [
          query:  "$baseDir/files/import-data/rfam/families.sql",
          produces:  'families.tsv',
        ])

        gencode_gff {
          command = 'fetch gencode'
          url_file = "$baseDir/files/import-data/ensembl/urls.txt"
          produces = 'gencode.gff3'
        }
      }
    }

    ensembl_plants {
      process.directives.memory = 15.GB

      inputs {
        data {
          command = 'fetch ensembl_plants'
          remote = 'ftp://ftp.ensemblgenomes.org/pub/current/plants/embl/**/*.dat.gz'
          produces = '*.grouped.dat.gz'
          exclude = [
            /Cyanidioschyzon_merolae.*/
          ]
        }
      }
    }

    flybase {
      inputs {
        data {
          remote = 'ftp://ftp.flybase.net/releases/current/precomputed_files/genes/ncRNA*.json.gz'
          produces = 'flybase_ncRNA.json.gz'
        }
      }
    }

    lncbase {
      inputs {
        data.remote = '/nfs/production/xfam/users/bsweeney/provided-data/lncbase/LncBase2.json'
      }
    }

    lncipedia {
      process.directives.memory = 5.GB

      inputs {
        data.remote = "https://lncipedia.org/downloads/lncipedia_5_3/lncipedia_5_3_rnacentral.json"
      }
    }

    mirbase {
      process.directives.memory = 4.GB

      inputs {
        data.remote = "http://micro.smith.man.ac.uk/~sam/download/mirbase22rnacentral.20180523.json"
      }
    }

    pdb {
      inputs {
        data_file {
          command = 'rnac pdb data'
          produces = 'pdb.json'
        }
        extra {
          command = 'rnac pdb extra'
          produces = 'pdb-extra.json'
        }
      }
    }

    pombase {
      inputs {
        data.remote = 'ftp://ftp.pombase.org/nightly_update/misc/rnacentral.json'
      }
    }

    quickgo {
      release = false
      process {
        command = 'rnac ontologies quickgo'
        directives.memory = 8.GB
      }

      inputs {
        data {
          command = 'fetch quickgo'
          remote = '/ebi/ftp/pub/contrib/goa/goa_rna_all.gpa.gz'
          produces = 'data.gpa'
        }
      }
    }

    refseq {
      inputs {
        data.produces = '*.gbff.gz'
      }
    }

    rfam {
      inputs {
        data.command = 'fetch rfam'
        data.remote = '/hps/nobackup/production/xfam/rfam/RELEASES/14.1/rnacentral/json_files/rfam2rnac*.json'
        data.produces = 'rfam*.json'

        family_file = (params.connections.rfam + [query: "$baseDir/files/import-data/rfam/families.sql", produces: 'families.tsv'])
      }
    }

    rgd {
      inputs {
        data.remote = 'ftp://ftp.rgd.mcw.edu/pub/data_release/UserReqFiles/RAT_NUCLEOTIDE_SEQUENCES.fa.gz'
        genes.remote = 'ftp://ftp.rgd.mcw.edu/pub/data_release/GENES_RAT.txt'
      }
    }

    tarbase {
      inputs {
        data.remote = '/nfs/production/xfam/users/bsweeney/provided-data/tarbase/TarBase8.json'
      }
    }

    zwd {
      inputs {
        data {
          remote = 'https://raw.githubusercontent.com/Rfam/rfam-zwd-import/master/zwd.json'
          produces = 'zwd.json'
        }
      }
    }
  }
}
