params {
  ftp_export {
    publish = "${baseDir}/ftp"
    id_mapping {
      run = true
      by_database.run = true
    }

    ensembl {
      run = true
      chunk_size = 100000
      maxForks = 15
    }

    coordinates {
      run = true
      maxForks = 30
      gff3 {
        run = true
        memory = 8.GB
      }

      bed.run = true
    }

    rfam {
      annotations.run = true
      go_annotations {
        run = true
        memory = 8.GB
      }
    }

    sequences {
      active.run = true
      inactive.run = true
      species.run = true
      nhmmer.run = true
      by_database {
        run = true
        max_forks = 4
      }
    }

    release_note.run = true
    md5.run = true
    status.run = true
  }
}
