params {
  genome_mapping {
    run = true
    min_length = 20
    max_length = 100000
    to_map_table = 'temp_gm_to_map'
    species_table = 'temp_gm_species'

    fetch_unmapped_sequences {
      directives.maxForks = 20
      nucleotides_per_chunk = '2e5'
      sequences_per_chunk = 2000
    }

    download_genome {
      directives.memory = 8.GB
      nucleotides_per_chunk = '2e9'
      sequences_per_chunk = 2000
    }

    select_mapped {
      directives.memory = 5.GB
    }

    blat {
      options {
        step_size = 5
        rep_match = 2253
        min_score = 0
        min_identity = 95
      }
      directives.memory = 6.GB
    }

    species_excluded_from_mapping = [
      'anas_platyrhynchos',     // Cannot find genome
      'brassica_rapa',          // Cannot find genome
      'aegilops_tauschii',      // Cannot find genome
      'theobroma_cacao',        // Hard to download
      'pristionchus_pacificus', // Hard to download
    ]

  }
}
