params {
  genome_mapping {
    run = true
    min_length = 20
    max_length = 100000
    chunk_size = 500

    fetch_unmapped_sequences {
      directives.maxForks = 20
    }

    download_genome {
      directives.memory = 8.GB
      chunk_size = '2e9'
    }

    select_mapped {
      directives.memory = 5.GB
    }

    blat {
      options {
        step_size = 5
        rep_match = 2253
        min_score = 0
        min_identity = 95
      }
      directives.memory = 6.GB
    }

    species_excluded_from_mapping = [
      'anas_platyrhynchos',  // Cannot find genome
      'brassica_rapa',      // Cannot find genome
      'aegilops_tauschii',  // Cannot find genome
    ]

  }
}
