def slurper = new groovy.json.JsonSlurper()

params {
  notify = false
  notify_url = ""
  connection_file = "$baseDir/config/databases.json"
  connections = slurper.parse(new File(connection_file))

  import_data {
    chunk_size = 1024 * 1000 * 1000
  }
}

includeConfig "cpat.config"
includeConfig "databases.config"
includeConfig "feedback.config"
includeConfig "genes.config"
includeConfig "genome-mapping.config"
includeConfig "precompute.config"
includeConfig "r2dt.config"
includeConfig "rfam.config"
includeConfig "utils.config"
