def slurper = new groovy.json.JsonSlurper()

params {
  notify = false
  notify_url = ""
  connection_file = "$baseDir/config/databases.json"
  connections = slurper.parse(new File(connection_file))

  import_data {
    chunk_size = 1024 * 1000 * 1000
    databases = [:]
  }
}

includeConfig "databases.config"
includeConfig "metadata.config"
includeConfig "genome-mapping.config"
includeConfig "qa.config"
includeConfig "feedback.config"
includeConfig "precompute.config"
includeConfig "secondary.config"
