params {
  qa {
    dfam {
      run = true
      files = 'http://www.dfam.org/web_download/Current_Release'
      cpus = 4
      chunk_size = 2000
      memory = 10000
    }

    rfam {
      run = true
      files = 'ftp://ftp.ebi.ac.uk/pub/databases/Rfam/CURRENT'
      cpus = 5
      memory = 20000.MB
      chunk_size = 2000
      queue = 'mpi-rh7'
      module = 'mpi/openmpi-x86_64'
      options = "-a openmpi -M 20000"
    }

    pfam {
      run = true
      cpus = 4
      chunk_size = 2000
      memory = 10000
      files = 'ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release'
    }
  }
}
