params {
  r2dt {
    run = true
    sequence_chunk_size = 300
    data_chunk_size = 1024 * 1000 * 1000
    tablename = 'traveler_sequences_to_analyze'
    publish = "$baseDir/r2dt"
    container = 'rnacentral/r2dt:latest'

    layout {
      memory = '8GB'
    }

    store {
      memory = '4GB'
    }
  }
}
