params {
  secondary {
    run = true
    sequence_chunk_size = 300
    data_chunk_size = 1024 * 1000 * 1000

    find_possible {
      memory = 4.GB
    }

    fetch {
      auto_traveler_version = "64ae508082b3b8e784360ab6aeb4b6777b3b0c9c"
      cm_library = 'https://www.dropbox.com/s/q5l0s1nj5h4y6e4/cms.tar.gz?dl=0'
    }

    layout {
      memory = 8.GB
    }

    store {
      memory = 4.GB
    }
  }
}
