params {
  secondary {
    run = true
    sequence_chunk_size = 300
    data_chunk_size = 1024 * 1000 * 1000
    tablename = 'traveler_sequences_to_analyze'

    find_possible {
      memory = 1.GB
      maxForks = 30
    }

    layout {
      memory = 8.GB
    }

    store {
      memory = 4.GB
    }

    should_show {
      memory = 12.GB
    }

  }
}
