params {
  secondary {
    run = true
    sequence_chunk_size = 500
    data_chunk_size = 1024 * 1000 * 1000


    fetch {
      memory = 5.GB
      auto_traveler_version = "943c2f00664430d6b5a3dbf5eb26a7ae58840cbe"
      cm_library = 'https://www.dropbox.com/s/q5l0s1nj5h4y6e4/cms.tar.gz?dl=0'
    }

    layout {
      memory = 2.GB
    }
  }
}
