params {
  sequence_search {
    max_file_size = '150MB'
    max_forks = 10

    publish {
      host = ""
      path = "${baseDir}/sequence-search-export"
    }

    create_fasta {
      memory_table {
        ena = 15.GB
        all_except_rrna = 7.GB
        silva = 5.GB
        rfam = 4.GB
        __default = 2.GB
      }
    }
  }
}
