params {
  stopfree {
    run = true
    chunk_size = 1000
    query = "files/stopfree/query.sql"
    container = "docker://rnacentral/stopfree:0.2.4"
    load = true
    min_len = 200
    db_chunk_size = 100000
    max_forks = 3500
    max_probability = 0.0023
  }
}

process {
  withName: stopfree_scan {
    container = params.stopfree.container
    maxForks = params.stopfree.max_forks
  }
}
