params {
  text_mining {

    fetch_full_text {
      directives.memory = 2.GB
      inputs.remote = 'https://europepmc.org/ftp/oa/*.xml.gz'
    }

    get_all_references {
      directives.memory = 4.GB
    }

    find_name_matches {
      directives.memory = 2.GB
    }

    find_pattern_matches {
      directives.memory = 2.GB
    }

    batch_find_pmids {
      directives.memory = 3.GB
    }
  }
}
